{% extends "base.html" %}

{% block HTML_CONTENTS %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-10 col-md-6 col-lg-5 col-xl-4 col-xxl-4">
                <h2>პროფილის რედაქტირება</h2>
                <form action="{{ url_for("user_management.administrator_account_editing_attempt") }}" method="POST">
                    <div class="form-floating my-2">
                        <input name="user_id" type="text" id="user_id" class="form-control-plaintext" placeholder="UUID" value="{{ USER_ID }}" readonly />
                        <label for="user_id">UUID</label>
                    </div>
                    <div class="form-floating my-1">
                        <input name="email" type="email" id="email" class="form-control" placeholder="email" value="{{ USER_EMAIL }}" required />
                        <label for="email">ელ-ფოსტა</label>
                    </div>
                    <div class="form-floating my-1">
                        <input name="display_name" type="text" id="display_name" class="form-control" value="{{ USER_DISPLAY_NAME }}" placeholder="display name" required />
                        <label for="display_name">სახელი/გვარი</label>
                    </div>

                    <div class="form-floating my-1">
                        <select class="form-select" name="is_approver" id="is_approver">
                            <option value="1"{% if USER_IS_APPROVER == 1 %} selected{% endif %}>დიახ</option>
                            <option value="0"{% if USER_IS_APPROVER == 0 %} selected{% endif %}>არა</option>
                        </select>
                        <label for="is_approver">არის თანხმობის გამცემი</label>
                    </div>
                    <div class="form-floating my-1">
                        <select class="form-select" name="is_administrator" id="is_administrator">
                            <option value="1"{% if USER_IS_ADMINISTRATOR == 1 %} selected{% endif %}>დიახ</option>
                            <option value="0"{% if USER_IS_ADMINISTRATOR == 0 %} selected{% endif %}>არა</option>
                        </select>
                        <label for="is_administrator">არის ადმინისტრატორი</label>
                    </div>

                    <div class="form-floating my-1">
                        <input value="პროფილის განახლება" type="submit" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
