{% extends "base.html" %}

{% block HTML_CONTENTS %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-8 col-sm-8 col-md-5 col-lg-4 col-xl-3 col-xxl-3">
                <h2>{{ LANG_STRINGS.CHANGE_PASSWORD }}</h2>
                <form action="{{ url_for("user_management.administrator_password_recovery_attempt") }}" method="POST">
                    <div class="form-floating my-2">
                        <input name="user_id" type="text" id="user_id" class="form-control-plaintext" placeholder="UUID" value="{{ USER_ID }}" readonly />
                        <label for="user_id">UUID</label>
                    </div>
                    <div class="form-floating my-2">
                        <input name="email" type="email" id="email" class="form-control-plaintext" placeholder="{{ LANG_STRINGS.EMAIL }}" value="{{ USER_EMAIL }}" readonly />
                        <label for="email">{{ LANG_STRINGS.EMAIL }}</label>
                    </div>
                    <div class="form-floating my-2">
                        <input name="user_id" type="text" id="user_id" class="form-control-plaintext" placeholder="{{ LANG_STRINGS.NAME }}" value="{{ USER_DISPLAY_NAME }}" readonly />
                        <label for="user_id">{{ LANG_STRINGS.NAME }}</label>
                    </div>
                    <div class="form-floating my-1">
                        <input name="new_password" type="password" id="new_password" class="form-control" placeholder="{{ LANG_STRINGS.NEW_PASSWORD }}" required />
                        <label for="new_password">{{ LANG_STRINGS.NEW_PASSWORD }}</label>
                    </div>
                    <div class="form-floating my-1">
                        <input name="repeat_new_password" type="password" id="repeat_new_password" class="form-control" placeholder="{{ LANG_STRINGS.NEW_PASSWORD_REPEAT }}" required />
                        <label for="repeat_new_password">{{ LANG_STRINGS.NEW_PASSWORD_REPEAT }}</label>
                    </div>
                    <div class="form-floating my-1">
                        <input value="{{ LANG_STRINGS.CHANGE_PASSWORD }}" type="submit" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
