{% extends "base.html" %}

{% block HTML_CONTENTS %}
    <div class="container">
        <h1>cookies</h1>
        <p>ეს ვებ-პორტალი იყენებს ქუქი-ჩანაწერებს, შესვლისა და რეგისტრაციის სისტემისთვის.<br>
            თუ რომელიმე ამ ფუნქციას იყენებთ, თქვენ ეთანხმებით თქვენს ბრაუზერში ქუქი-ჩანაწერებს გამოყენებას.<br>
            ევროკავშირის კანონმდებლობა მოითხოვს, რომ ეს ინფორმაცია მოგახსენოთ. <br>
            ამ ტექსტის დაწერის დროს, საქართველო არ არის ევროკავშირში, მაგრამ სამომავლოდ თუ იქნება, ამის ჩასწორება არ მოგვიწევს.</p>

        <table class="table">
            <tr>
                <th>ქუქი-ჩანაწერი</th>
                <th>დანიშნულება</th>
                <th>აუცილებელია</th>
            </tr>
            <tr>
                <td>session_token</td>
                <td>მომხმარებლის ამოცნობა</td>
                <td>დიახ</td>
            </tr>
        </table>
    </div>
{% endblock %}
