{% extends "base.html" %}

{% block HTML_CONTENTS %}
    <div class="container">
        <h1>{{ LANG_STRINGS.COOKIES }}</h1>
        <p>{{ LANG_STRINGS.LONG_COOKIE_JARGON }}</p>

        <table class="table">
            <tr>
                <th>{{ LANG_STRINGS.COOKIE_RECORD }}</th>
                <th>{{ LANG_STRINGS.COOKIE_PURPOSE }}</th>
                <th>{{ LANG_STRINGS.COOKIE_ESSENTIAL }}</th>
            </tr>
            <tr>
                <td>session_token</td>
                <td>{{ LANG_STRINGS.IDENTIFY_THE_USER}}</td>
                <td>{{ LANG_STRINGS.YES}}</td>
            </tr>
        </table>
    </div>
{% endblock %}
