{% extends "base.html" %}

{% block HTML_CONTENTS %}
    <div class="container">
        <div class="alert alert-warning">
            {{ LANG_STRINGS.LOGIN_REGISTRATION_REQUIRES_COOKIES }}
            <a href="{{ url_for("cookies") }}" class="alert-link">{{ LANG_STRINGS.LEARN_MORE }}</a>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-10 col-md-6 col-lg-5 col-xl-4 col-xxl-4">
                {% if not IS_ANYONE_REGISTERED %}
                    <h2>{{ LANG_STRINGS.ADMINISTRATOR_REGISTRATION }}</h2>
                {% else %}
                    <h2>{{ LANG_STRINGS.ACCOUNT_REGISTRATION }}</h2>
                {% endif %}
                <form action="{{ url_for("user_management.registration_attempt") }}" method="POST">
                    {% if INVITE_CODE %}
                        <div class="form-floating my-1">
                            <input name="invite_code" type="text" id="invite_code" class="form-control-plaintext" placeholder="{{ LANG_STRINGS.INVITE_CODE }}" value="{{ INVITE_CODE }}" readonly />
                            <label for="invite_code">{{ LANG_STRINGS.INVITE_CODE }}</label>
                        </div>
                    {% endif %}

                    <div class="form-floating my-1">
                        <input name="display_name" type="text" id="display_name" class="form-control" placeholder="{{ LANG_STRINGS.NAME_SLASH_SURNAME }}" required />
                        <label for="display_name">{{ LANG_STRINGS.NAME_SLASH_SURNAME }}</label>
                    </div>
                    <div class="form-floating my-1">
                        <input name="email" type="email" id="email" class="form-control" placeholder="{{ LANG_STRINGS.EMAIL }}" required />
                        <label for="email">{{ LANG_STRINGS.EMAIL }}</label>
                    </div>
                    <div class="alert alert-danger mt-2 mb-1">
                        {{ LANG_STRINGS.DO_NOT_REUSE_A_PASSWORD }}
                    </div>
                    <div class="form-floating my-1">
                        <input name="password" type="password" id="password" class="form-control" placeholder="{{ LANG_STRINGS.PASSWORD }}" required />
                        <label for="password">{{ LANG_STRINGS.PASSWORD }}</label>
                    </div>
                    <div class="form-floating my-1">
                        <input name="repeat_password" type="password" id="repeat_password" class="form-control" placeholder="{{ LANG_STRINGS.REPEAT_PASSWORD }}" required />
                        <label for="repeat_password">{{ LANG_STRINGS.REPEAT_PASSWORD }}</label>
                    </div>
                    <div class="form-floating my-1">
                        <input value="{{ LANG_STRINGS.FINISH_REGISTRATION }}" type="submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
