{% extends "base.html" %}

{% block HTML_CONTENTS %}
    <div class="container">
        <h2>ძებნა</h2>
        <p>
            მოსაძებნად შეავსეთ მინიმუმ 1 ველი.
        </p>
        <form action="{{ url_for("schedule.index", timeframe="search") }}" method="post" enctype="multipart/form-data">

            <div class="input-group">
                <div class="form-floating my-1">
                    <input name="patient_name" type="text" id="patient_name" class="form-control" placeholder="სახელი/გვარი" />
                    <label for="patient_name">სახელი/გვარი</label>
                </div>
                <div class="form-floating mt-1">
                    <input name="patient_birth_year" type="text" id="patient_birth_year" class="form-control" placeholder="დაბ. წელი" maxlength="4" />
                    <label for="patient_birth_year">დაბ. წელი</label>
                </div>
            </div>
            <div class="input-group">
                <div class="form-floating my-1">
                    <input name="timestamp" type="date" id="timestamp" class="form-control" placeholder="თარიღი" />
                    <label for="timestamp">თარიღი</label>
                </div>
                <div class="form-floating my-1">
                    <input name="patient_phone_number" type="text" id="patient_phone_number" class="form-control" placeholder="ტელ. ნომერი" />
                    <label for="patient_phone_number">ტელ. ნომერი</label>
                </div>
            </div>
            <div class="form-floating my-1">
                <input name="assigned_doctor_name" type="text" id="assigned_doctor_name" class="form-control" placeholder="მკურნალი ექიმი" />
                <label for="assigned_doctor_name">მკურნალი ექიმი</label>
            </div>
            <div class="form-floating my-1">
                <select class="form-select" name="has_consultation_happened" id="has_consultation_happened">
                    <option value="" selected>დიახ/არა</option>
                    <option value="1">დიახ</option>
                    <option value="0">არა</option>
                </select>
                <label for="is_completed">გაიარა კონსულტაცია</label>
            </div>
            <div class="form-floating my-1">
                <input name="type_of_surgery" type="text" id="type_of_surgery" class="form-control" placeholder="ოპერაციის ტიპი" />
                <label for="type_of_surgery">ოპერაციის ტიპი</label>
            </div>
            <div class="form-floating my-1">
                <input type="submit" value="ძებნა" class="btn btn-primary" />
            </div>
        </form>
    </div>
{% endblock %}
