{% extends "base.html" %}
{% block HTML_CONTENTS %}
    <div class="container">
    {% for SESSION in SESSION_LISTING %}
        <div class="card">
            <h5 class="card-header">
                {% if SESSION[4] %}
                    {{ ipaddress.IPv6Address(SESSION[3]) }}
                {% else %}
                    {{ ipaddress.IPv4Address(SESSION[3]) }}
                {% endif %}
            </h5>
            <div class="card-body">
                <h5 class="card-title">
                    {{ SESSION[2] }}
                </h5>
                <p class="card-text">
                    {{ LANG_STRINGS.CREATED_AT }}: {{ datetime.fromtimestamp(SESSION[1], tz=WEBSITE_CONTEXT['timezone']) }},<br>
                    {{ LANG_STRINGS.EXPIRY_DATE }}: {{ datetime.fromtimestamp(SESSION[6], tz=WEBSITE_CONTEXT['timezone']) }}
                </p>
                <a href="{{ url_for("user_management.destroy_session_token", token_id=SESSION[5]) }}" class="btn btn-danger">{{ LANG_STRINGS.END_SESSION }}</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
