{% extends "base.html" %}

{% block HTML_CONTENTS %}
    <div class="container">
        <form action="{{ url_for("administration.sql_exec") }}" method="POST">
            <div class="form-floating my-1">
                <textarea rows="4" style="height:40%;" name="sql_query" type="text" id="sql_query" class="form-control" placeholder="{{ LANG_STRINGS.SQL_QUERY_GOES_HERE }}" required></textarea>
                <label for="sql_query">{{ LANG_STRINGS.SQL_QUERY_GOES_HERE }}</label>
            </div>

            <div class="form-floating my-1">
                <input type="submit" value="{{ LANG_STRINGS.EXECUTE }}" class="btn btn-primary" />
            </div>
        </form>

        {% if SQL_RESULTS %}
            <br>
            <div class="form-floating">
                <textarea rows="4" style="height:40%;" name="query_results" type="text" id="query_results" class="form-control" placeholder="{{ LANG_STRINGS.EXECUTION_RESULTS }}" required>{{ SQL_RESULTS }}</textarea>
                <label for="query_results">{{ LANG_STRINGS.EXECUTION_RESULTS }}</label>
            </div>
        {% endif %}
    </div>
{% endblock %}
