{% extends "base.html" %}

{% block HTML_CONTENTS %}
    {% if USER_CONTEXT.is_administrator == 1 %}
        <section class="bg-dark text-light py-3 mb-2">
            <div class="container">
                <a href="{{ url_for("user_management.member_invite_form") }}" class="btn btn-warning">მომხმარებლის მოწვევა</a>
            </div>
        </section>
    {% endif %}

    <div id="delete_confirm"></div>

    <div class="container">
        <div class="row">
            {% for info in USER_LISTING %}
                <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2 mb-3">
                    <div class="card">
                        <!--img class="card-img-top" src="{{ url_for('static', filename='default_pp.png') }}" alt="Card image cap"-->
                        <div class="card-body">
                            <h5 class="card-title">{{ info[2] }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ info[1] }}</h6>
                            {% if info[3] == 1 %}
                                <strong class="card-text">ადმინისტრატორი</strong>
                            {% endif %}
                            <a href="{{ url_for("schedule.index", author_id=info[0]) }}" class="btn btn-primary mt-2">ოპერაციების ნახვა</a>
                            {% if USER_CONTEXT.is_administrator == 1 %}
                                <a href="#demo-version" class="btn btn-danger mt-2" onClick="delete_warning()">გაუქმება</a>
                            {% endif %}
                        </div>
                        {% if USER_CONTEXT.is_administrator == 1 %}
                            <div class="card-footer">
                                UUID: {{ info[0] }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        function delete_warning() { // ...
            document.getElementById("delete_confirm").innerHTML = "" +
                "<div class='container'>" +
                "<div class='alert alert-danger'>" +
                "სადემონსტრაციო ვერსიაში ეს ფუნქცია არ არის გაკეთებული." +
                "</div>" +
                "</div>"
        }
    </script>
{% endblock %}
