{% extends "base.html" %}

{% block HTML_CONTENTS %}
    {% if USER_CONTEXT.is_administrator == 1 %}
        <section class="bg-dark text-light py-3 mb-2">
            <div class="container">
                <a href="{{ url_for("user_management.member_invite_form") }}" class="btn btn-warning">მომხმარებლის მოწვევა</a>
                <a href="{{ url_for("user_management.member_invite_listing") }}" class="btn btn-info">მოწვეული მომხმარებლების სია</a>
            </div>
        </section>
    {% endif %}

    <div class="container">
        <div class="row">
            {% for info in USER_LISTING %}
                <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mb-3">
                    <div class="card">
                        <!--img class="card-img-top" src="{{ url_for('static', filename='default_pp.png') }}" alt="Card image cap"-->
                        <div class="card-body">
                            <h5 class="card-title">{{ info[2] }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ info[1] }}</h6>
                            {% if info[3] == 1 %}
                                <strong class="card-text">ადმინისტრატორი</strong>
                            {% endif %}
                            <a href="{{ url_for("schedule.index", timeframe="search", author_id=info[0]) }}" class="btn btn-primary mt-2">დამატებული ოპერაციები</a>
                            <a href="{{ url_for("schedule.index", timeframe="search", assigned_doctor_name=info[2]) }}" class="btn btn-primary mt-2">მიბმული პაციენტები</a>
                            {% if USER_CONTEXT.is_administrator == 1 %}
                                <a href="{{ url_for("user_management.administrator_password_recovery_form", user_id=info[0]) }}"
                                   class="btn btn-danger mt-2">პაროლის შეცვლა</a>
                                <a href="{{ url_for("user_management.administrator_account_editing_form", user_id=info[0]) }}"
                                   class="btn btn-danger mt-2">პროფილის რედაქტირება</a>
                                <a href="{{ url_for("user_management.administrator_account_deletion_form", user_id=info[0]) }}"
                                   class="btn btn-danger mt-2">გაუქმება</a>
                            {% endif %}
                        </div>
                        {% if USER_CONTEXT.is_administrator == 1 %}
                            <div class="card-footer">
                                UUID: {{ info[0] }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
